body-bg = url('../imgs/bg.jpg')

body
    overflow hidden
    background-image: body-bg
    color white
    font-family: Verdana, Geneva, Tahoma, sans-serif

    #game 
        position: fixed
        left 0
        top 0 
        width 100%
        height 100%
        display: flex
        align-content: center

        .logo-container
            position fixed
            top 0
            left 0
            color yellowgreen
            width 100%
            height 10%
            margin auto auto
            text-align: center

            .logo-heading
                text-transform: uppercase
                font-size: 40px

            .links-list
                list-style: none
                margin -20px
                
                .link-item
                    padding 0px 10px
                    display inline-block

                    a
                        text-decoration: none
                        color rgba(154, 205, 50, 0.77)

                        &:hover
                            text-decoration: underline

        .name-input-container
            color yellowgreen
            width 30%
            height 30%
            margin auto auto
            text-align: center
            text-transform: uppercase

            .name-label
                display block

                .label-text-span
                    display block
                    padding 10px 15px

                .name-input
                    display: block
                    margin auto
                    padding 10px 15px
                    background-color: transparent
                    color yellowgreen
                    border-color yellowgreen
                    font-size: 24px
                    text-align: center
                    width 200px
                    
            .btn-go
                display block  
                padding 10px 15px 

                &:hover
                    text-decoration underline                 

            .inactive
                display none    

        .kineticjs-content
            margin auto

        .start-menu

            position fixed
            display block
            width 160px
            height: 160px
            text-align: center
            font-size: 24px

            .button
                display: block
                padding 5px 10px
                width 100%

            .hovered
                background-color: rgba(255, 255, 255, 0.05)
                text-shadow: 0px 0px 50px yellowgreen
    
    .inactive-background
        position: fixed
        left 0
        top 0
        width 100%
        height: 100%
        z-index: 100
        display: flex
        align-content: center

        .high-score-list
            z-index: 200
            margin auto auto
            width 30%
            height: 30%
            color yellowgreen
            font-size: 24px
            text-align: center
            font-family: consolas

            .high-score-item
                margin 5px

            .first
                color gold

            .second
                color silver

            .third 
                color #8C7853