body-bg = url('../imgs/bg.jpg')

body
    overflow hidden
    background-image: body-bg
    color white
    font-family: Verdana, Geneva, Tahoma, sans-serif

    #game  
        margin auto

        .kineticjs-content
            margin auto

        .start-button
            position fixed
            display block
            left auto
            top 200px