body {
  overflow: hidden;
  background-image: url("../imgs/bg.jpg");
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body #game {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
}
body #game .logo-container {
  position: fixed;
  top: 0;
  left: 0;
  color: #9acd32;
  width: 100%;
  height: 10%;
  margin: auto auto;
  text-align: center;
}
body #game .logo-container .logo-heading {
  text-transform: uppercase;
  font-size: 40px;
}
body #game .logo-container .links-list {
  list-style: none;
  margin: -20px;
}
body #game .logo-container .links-list .link-item {
  padding: 0px 10px;
  display: inline-block;
}
body #game .logo-container .links-list .link-item a {
  text-decoration: none;
  color: rgba(154,205,50,0.77);
}
body #game .logo-container .links-list .link-item a:hover {
  text-decoration: underline;
}
body #game .name-input-container {
  color: #9acd32;
  width: 30%;
  height: 30%;
  margin: auto auto;
  text-align: center;
  text-transform: uppercase;
}
body #game .name-input-container .name-label {
  display: block;
}
body #game .name-input-container .name-label .label-text-span {
  display: block;
  padding: 10px 15px;
}
body #game .name-input-container .name-label .name-input {
  display: block;
  margin: auto;
  padding: 10px 15px;
  background-color: transparent;
  color: #9acd32;
  border-color: #9acd32;
  font-size: 24px;
  text-align: center;
  width: 200px;
}
body #game .name-input-container .btn-go {
  display: block;
  padding: 10px 15px;
}
body #game .name-input-container .btn-go:hover {
  text-decoration: underline;
}
body #game .name-input-container .inactive {
  display: none;
}
body #game .kineticjs-content {
  margin: auto;
}
body #game .start-menu {
  position: fixed;
  display: block;
  width: 160px;
  height: 160px;
  text-align: center;
  font-size: 24px;
}
body #game .start-menu .button {
  display: block;
  padding: 5px 10px;
  width: 100%;
}
body #game .start-menu .hovered {
  background-color: rgba(255,255,255,0.05);
  text-shadow: 0px 0px 50px #9acd32;
}
body .inactive-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-content: center;
}
body .inactive-background .high-score-list {
  z-index: 200;
  margin: auto auto;
  width: 30%;
  height: 30%;
  color: #9acd32;
  font-size: 24px;
  text-align: center;
  font-family: consolas;
}
body .inactive-background .high-score-list .high-score-item {
  margin: 5px;
}
body .inactive-background .high-score-list .first {
  color: #ffd700;
}
body .inactive-background .high-score-list .second {
  color: #c0c0c0;
}
body .inactive-background .high-score-list .third {
  color: #8c7853;
}
